body.dark, .dark .docs-toc-link, .dark .docs-sidebar .nav>li:not(.active)>a, .dark .modal button.close, .dark input, .dark .form-control, .dark .form-control:focus {
    color: #f8f8f2;
    background: rgb(10,25,47);
}

.dark .navbar{
  background: rgb(10,25,47);
  box-shadow: none;
}

.navbar{
  box-shadow: none;
}

.dark .navbar-brand{
  color: #62eccf;
}

.dark #navbar-main .main-menu-item ul li .nav-link {
    color: #62eccf;
}
