body{
  background: rgb(10,25,47);
}

.dark .navbar{
  background: rgb(10,25,47);
  box-shadow: none;
}

.navbar{
  box-shadow: none;
}

.dark .navbar-brand{
  color: #62eccf;
}

.dark #navbar-main .main-menu-item ul li .nav-link {
    color: #62eccf;
}
